<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Anoym</title>
<link rel="stylesheet" type="text/css" href="/templates/fancybox/jquery.fancybox.css" />
<link rel="stylesheet" type="text/css" href="/templates/styles/main.css" />
<script src="/script/jquery.min.js"></script>
<script src="/script/jquery.fancybox.pack.js"></script>

</head>
<body class="home">
<div id="frame">
###contents###
</div>
<div id="footer">&copy; 2013, Anoym.com</div>
</body>
</html>